@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    src: local("Roboto-Light"), url("../assets/fonts/Roboto-Light.ttf") format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: local("Roboto-Medium"), url("../assets/fonts/Roboto-Medium.ttf") format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: local("Roboto-Bold"), url("../assets/fonts/Roboto-Bold.ttf") format("ttf");
}

