@import "_fonts";
@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

img {
  height: 100%;
  width: 100%;
}

.wrapper {
  margin-left: 64px;
  padding: 0 64px;
  width: 100%;
  @include desktop-min{
    padding: 0 32px;
  }
  @include tablet{
    margin-left: 0;
  }

  @include mobile {
    padding: 0;
  }
}

.pdng-lft {
  padding-left: 64px;
}